[submodule "3rdparty/angelscript"]
	path = 3rdparty/angelscript
	url = https://github.com/codecat/angelscript-mirror.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/catch2"]
	path = 3rdparty/catch2
	url = https://github.com/catchorg/Catch2.git
